span {
    font-family: 'Berkshire Swash', cursive;
    letter-spacing: 20px;
    font-size: 150%;
    color: white;
    text-shadow: 2px 2px #a34b41;
}

.desc {
    letter-spacing: 10px;
    font-size: medium;
    color: white;
    padding-top: 0;
}

.masthead {
    top: 0;
    height: 50vh;
    max-height: 200px;
    background-image: url('images/banner2.jpg');
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
    padding-top: 0;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #ffffff;
    background-color: rgba(255, 238, 238, 0.4);
    font-weight: bolder;
    letter-spacing: 1px;
    font-size: 75%;
    margin: 2px;
 }
  
.inactive {
    color: rgb(230, 225, 226);
    font-weight: 600;
    background-color: rgba(136, 102, 102, 0.4);
    font-size: 75%;
    margin: 2px;
   
}

main {
    background-color: #f8eded;
    border: 1.5px solid rgb(230, 204, 204);
    border-radius: 5px;
    padding: 5px;
}
  
body {
    background-color: #fdf5f5;
}

.mainHeader {
    font-family: 'Abril Fatface', cursive;
    letter-spacing: 10px;
    font-size: large;
    font-weight: 300;
    color: rgb(143, 22, 22);
    padding-left: 3%;
    padding-bottom: 3%;
    text-shadow: 2px 2px 1px rgb(218, 176, 176);
}

.codingImageText {
    color: #fff;
    font-size: 20px;
    line-height: 1.5em;
    text-shadow: 2px 2px 1px rgb(124, 62, 62);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    font-family: 'Overpass', sans-serif;
    letter-spacing: 2px;
    opacity: 0.6;
    transition: 0.1s;
}

.codingImageText:hover {opacity: 1}

nav a:hover{
    color:rgb(65, 20, 20) !important;
  }